body {
  min-width: 385px;
}

#header > div, #blox_container, #footer > div {
  width: 380px;
  margin: 0 auto;
}

#core {
  width: 100%;
  margin-right: 0;
  margin-bottom: 2.5em;
}

#leaderboard {
  float: none;
  width: 100%;
}

#player-stats {
  float: left;
  margin-right: 3em;
}

#misc {
  width: 100px;
}

#start_button {
  margin-top: 10px;
}
