/***** Layout *****/

body {
  font: 12px "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif;
  background: #333;
	color: #999;
	padding: 0;
  margin: 0;
	min-width: 500px;
}

a:link, a:visited, a:active {
  color: #09C;
  text-decoration: none; 
}

#blox_container {
  width: 750px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#leaderboard {
  float: left;
  width: 20em;
  margin-top: 1.4em;
}

#leaderboard .label {
  font-size: 0.8em;
  margin-left: 1.1em;
}

#leaderboard table {
  width: 75%;
  margin-left: 1em;
  margin-top: 1em;
  border-collapse: collapse;
  font-size: 0.9em;
}

#leaderboard td, #leaderboard th {
  border: 1px solid #666;
  padding: 0.3em;
}

#leaderboard th {
  color: #09C;
}

#leaderboard td {
  text-align: right;
}

#leaderboard td:first-child {
  text-align: left;
}

#leaderboard th.name {
  width: 60%;
}

#leaderboard th.level {
  width: 14%;
}

#misc {
  width: 20em;
  float: right;
}

#stats {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;
}

#stats li {
  margin-bottom: 1em;
  font-size: 0.8em;
}

#score, #lines, #level {
  display: block;
  font-size: 2em;
  margin-left: 5px;
}

#stats li #score {
  font-size: 3em;
}

#start_button {
  margin-top: 30px;
}

#controls {
  position: relative;
  margin-top: 40px;
}

#controls .label {
  font-size: 0.8em;
}

#controls ul {
  font-size: 0.9em;
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#controls #flip_controls {
  position: absolute;
  left: 9.8em;
  top: 2em;
  cursor: pointer;
}

.sfx {
  height: 0;
  width: 0;
}

.info {
  clear: both;
  padding: 3em;
  text-align: left;
  font-size: 0.9em;
  color: #666;
}

.error {
  margin: 30px;
  text-align: center;
  color: #F00;
  font-weight: bold;
}

.label {
  color: #09C;
}

/***** Game *****/

#blox, #next {
  border-collapse: collapse;
}

#blox {
  float: left;
  border: 2px solid #AAA;
  background: #FBFBFB;
  margin: 10px;
}

#next_container {
  position: relative;
}

#next {
  margin-top: 1.5em;
  margin-left: -1em;
}

#next_container span {
  position: relative;
  top: 1.5em;
  font-size: 0.8em;
}

#blox td, #next td {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

#blox tr.hidden {
  visibility: hidden;
}

.block_o {
  background-color: orange;
}

.block_i {
  background-color: red;
}

.block_s {
  background-color: #AEFF00;
}

.block_z {
  background-color: magenta;
}

.block_j {
  background-color: aqua;
}

.block_l {
  background-color: lime;
}

.block_t {
  background-color: yellow;
}

.block_o, .block_i, .block_s, .block_z, .block_j, .block_l, .block_t {
  background-image: url('images/block_bg.png');
}

.paused {
  opacity: 0.3;
}
