h1 {
  float: none;
  padding: 0.3em 0;
  font-size: 2em;
}

#blox_container {
  padding-top: 0;
  padding-bottom: 0;
}

#buttons {
  clear: both;
  padding-left: 0.9em;
}

#button-rotate {
  float: right;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: orange;
  margin-right: 5px;
}

#buttons-directional .button:last-child {
  margin-right: 0;
}