/***** Layout *****/

body {
  font: 12px "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif;
	color: #444;
	padding: 0;
  margin: 0;
	min-width: 500px;
}

a:link, a:visited, a:active {
  color: #09F;
  text-decoration: none; 
}

#blox_container {
  width: 750px;
  margin-top: 50px;
}

#leaderboard {
  float: left;
  width: 20em;
  text-align: center;
}

#leaderboard h2 {
  font-weight: normal;
}

#misc {
  width: 20em;
  float: right;
}

#stats {
  margin-top: 1.5em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;
}

#stats li {
  margin-bottom: 1em;
  font-size: 0.8em;
}

#stats li span {
  display: block;
  font-size: 2em;
  margin-left: 5px;
}

#stats li #score {
  font-size: 3em;
}

#level {
}

#start_button {
  margin-top: 40px;
  font-size: 2em;
}

#controls {
  position: relative;
  margin-top: 40px;
}

#controls ul {
  padding-left: 1.5em;
  font-size: 0.9em;
}

#controls #flip_controls {
  position: absolute;
  left: 11.5em;
  top: 0.5em;
  cursor: pointer;
}

.sfx {
  height: 0;
  width: 0;
}

.info {
  clear: both;
  padding: 3em;
  text-align: left;
  font-size: 0.9em;
  color: #999;
}

.error {
  margin: 30px;
  text-align: center;
  color: #F00;
  font-weight: bold;
}

/***** Game *****/

#blox, #next {
  border-collapse: collapse;
}

#blox {
  float: left;
  border: 2px solid #AAA;
  background: #FBFBFB;
  margin: 10px;
}

#next {
  margin-top: 0.9em;
}

#blox td, #next td {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.block_o {
  background-color: orange;
}

.block_i {
  background-color: red;
}

.block_s {
  background-color: #AEFF00;
}

.block_z {
  background-color: magenta;
}

.block_j {
  background-color: aqua;
}

.block_l {
  background-color: lime;
}

.block_t {
  background-color: yellow;
}

.block_o, .block_i, .block_s, .block_z, .block_j, .block_l, .block_t {
  background-image: url('images/block_bg.png');
}
