body {
  min-width: 380px;
}

#header > div, #blox_container, #footer > div {
  width: 380px;
  margin: 0 auto;
}

#core {
  margin-bottom: 3em;
}

#leaderboard {
  float: none;
  width: 100%;
}

#player-stats {
  float: left;
  margin-right: 3.5em;
}

#misc {
  width: 100px;
}
